@import "../Styles/Index.scss";

.section-2 {
  background-color: #45565e;
}

.ad-container {
  @include flexbox(row);
  padding: 8px 0;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
  a:first-child > div {
    border: 1px solid black;
    padding: 5px 16px;
    border-radius: 11px;
    @include flexbox(row);
    gap: 8px;
    p {
      word-spacing: 3px;
      padding-right: 24px;
      font-size: 14px;
    }
    strong {
      font-size: 18px;
    }
  }
  a:nth-of-type(2) > div {
    border: 1px solid black;
    border-radius: 11px;
    padding: 5px 16px;
    @include flexbox(row);
    gap: 8px;
    p {
      word-spacing: 3px;
      padding-right: 24px;
      font-size: 14px;
    }
    strong {
      font-size: 18px;
    }
  }
  > div {
    border-radius: 11px;
    padding: 5px 32px;
    @include flexbox(row);
    gap: 12px;
    div {
      @include flexbox(row);
      gap: 6px;
    }
  }
}
